<p>Music Player</p>

<div class="row">
    <div class="column" [ngClass]="{'column_color': showSong}" (click)="showSong=true;">
      Songs
    </div>
    <div class="column" [ngClass]="{'column_color': !showSong}" (click)= "showSong = false" >
      Playlists
    </div>
</div>

<div class="searchColumn">
  <input type="text" id="searchInput" (keyup)="searchSong($event)" placeholder="Search for songs.." *ngIf="showSong" >
</div>

<div *ngIf="showSong" class="row">
  <div class="songColumn" *ngFor="let song of songList" >
      <img src="{{song.thumbnailUrl}}" class="avatar" >
      {{song.title}} <br>
      {{getAlbum(song.albumId)}}
  </div>
</div>

<div *ngIf="!showSong" class="row">

  <div id="playlistColumn" class="playlistDiv" >
    <div class="playlistColumn" *ngFor="let list of playlistList" (click)="playlistClick(list)">
      <p class="alignleft">{{list.name}}</p>
      <p class="alignright">{{list.createdOn | date: 'MMM d, y, h:mm:ss a'}}</p>
    </div>
  </div>
  
  <div id = "playlistSong" class="playlistSongDiv">
    <div>
      <span>{{ currentPlaylist.name }}</span>
      <button id="addButton" class="playlistButton alignright" (click)="addSong()">Add Song</button>
      <button id="shuffleButton" class="playlistButton alignright">Shuffle Play</button>
    
      <div class="songColumn" *ngFor="let song of currentPlaylist.songs" >
        <img src="{{song.thumbnailUrl}}" class="avatar" >
        {{song.title}} <br>
        {{getAlbum(song.albumId)}}
      </div>
    </div>
  </div>

  <div class ="addSongDiv">
    <span>{{ currentPlaylist.name }}</span>
    <div class="songColumn" *ngFor="let song of songList" >
      <img src="{{song.thumbnailUrl}}" class="avatar" >
      {{song.title}} <br>
      {{getAlbum(song.albumId)}} <br>
      <button id="addSongToPlaylistButton" class="playlistButton alignright" (click)="addSongToPlaylist(song)">Add</button>
    </div>
  </div>

  <button id="createButton" class="createButton" (click)="createPlaylist()">Create Playlist</button>
  <button id="backButton" class="backButton" (click)="backClick()">Back</button>
  <button id="backToPlaylistSongButton" class="backToPlaylistSongButton" (click)="backtoPlaylistSong()">Back to play list</button>

</div>