<p style="font-size: 25px; text-align:center">Music Player</p>

<div class="row">
    <div class="column" [ngClass]="{'column_color': showSong}" (click)="showSong=true;">
      All Songs
    </div>
    <div class="column" [ngClass]="{'column_color': !showSong}" (click)= "showSong = false; clearSearch();" >
      Playlists
    </div>
</div>



<div *ngIf="showSong" class="row">
  <div class="searchColumn">
    <input type="text" id="searchInput" (keyup)="searchSong($event)" placeholder="Search for songs.." *ngIf="showSong" >
  </div>
  <div class="mainDiv">
    <div class="songColumn" *ngFor="let song of songList" >
        <img src="{{song.thumbnailUrl}}" class="avatar" >
        {{song.title}} <br>
        {{getAlbum(song.albumId)}}
    </div>
    <label *ngIf="noResults" >No Results Found</label>
  </div>
</div>

<div *ngIf="!showSong" class="row">

  <div id="playlistColumn" class="playlistDiv mainDiv" >
    <div class="playlistColumn" *ngFor="let list of playlistList" (click)="playlistClick(list)">
      <p class="alignleft">{{list.name}}</p>
      <p class="alignright">{{list.createdOn | date: 'MMM d, y, h:mm:ss a'}}</p>
    </div>
  </div>
  
  <div id = "playlistSong" class="playlistDetailDiv">
    
    <div style="margin-top:10px;" class="functionalDiv" >

      <label id="nameLabel" style="font-size: 25px;">{{ currentPlaylist.name }}<i class="fa fa-edit playlistEdit" style="font-size:20px" (click)="edit()"></i></label>

      <input type="text" id="playlistName" class="playlistName"><i class="fa fa-save playlistSave" style="font-size:20px" (click)="save()"></i>

      <button id="addButton" class="playlistButton alignright" (click)="addSong()">Add Song</button>

      <button id="shuffleButton" class="playlistButton alignright" (click)="shuffleSong()" >Shuffle Play</button>

      <button id="backToPlaylistSongButton" class="backToPlaylistSongButton alignright playlistButton" (click)="backtoPlaylistSong()">Back to play list</button>

      <input type="text" id="searchInput" (keyup)="searchSong($event)" placeholder="Search for songs.." >

    </div>

    <div class="mainDiv playlistSongDiv">
      <div class="songColumn" *ngFor="let song of currentPlaylist.songs" >
        <img src="{{song.thumbnailUrl}}" class="avatar" >
        {{song.title}} <br>
        {{getAlbum(song.albumId)}}
        {{song.createdOn | date: 'MMM d, y, h:mm:ss a'}}<br>
        <button id="deleteSongButton" class="playlistButton alignright" (click)="deleteSong(song)">Delete</button>
      </div>
    </div>

    <div class="mainDiv addSongDiv ">
      <div class="songColumn" *ngFor="let song of songList" >
        <img src="{{song.thumbnailUrl}}" class="avatar" >
        {{song.title}} <br>
        {{getAlbum(song.albumId)}} <br>
        <button [disabled]="checkSongId(song.id)" id="addSongToPlaylistButton" class="playlistButton alignright" (click)="addSongToPlaylist(song)">Add to List</button>
      </div>
      <label *ngIf="noResults" >No Results Found</label>
    </div>

  </div>

  <!-- <div class ="addSongDiv">

    <div class="addSongDetails">
      <label id="nameLabel" style="font-size: 25px;">{{ currentPlaylist.name }}<i class="fa fa-edit playlistEdit" style="font-size:24px" (click)="edit()"></i></label>
      <input type="text" id="playlistName" class="playlistName"><i class="fa fa-save playlistSave" style="font-size:20px" (click)="save()"></i>
      <button id="backToPlaylistSongButton" class="backToPlaylistSongButton alignright playlistButton" (click)="backtoPlaylistSong()">Back to play list</button>
      <input type="text" id="searchInput" (keyup)="searchSong($event)" placeholder="Search for songs.." >
    </div>

  </div> -->

  <button id="createButton" class="createButton" (click)="createPlaylist()">Create Playlist</button>
  <button id="backButton" class="backButton" (click)="backClick()">Back</button>
  

</div>