<p>Music Player</p>

<div class="row">
    <div class="column" [ngClass]="{'column_color': showSong}" (click)="showSong=true;">
      Songs
    </div>
    <div class="column" [ngClass]="{'column_color': !showSong}" (click)="showSong=false;" >
      Playlists
    </div>
</div>

<div class="searchColumn">
  <input type="text" id="searchInput" (keyup)="searchSong($event)" placeholder="Search for songs.." *ngIf="showSong" >
</div>

<div *ngIf="showSong" class="row">
  <div class="songColumn" *ngFor="let song of songList" >
      <img src="{{song.thumbnailUrl}}" class="avatar" >
      {{song.title}} <br>
      {{getAlbum(song.albumId)}}
  </div>
</div>

<div *ngIf="!showSong" class="row">

<div> 
  <div class="playlistColumn" *ngFor="let list of playlistList" >
    {{list.name}} {{list.createdOn}}
  </div>
</div>

<div>

</div>

<button class="createButton" (click)="createPlaylist()">Create Playlist</button>

</div>